* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: rgb(36, 37, 21);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .container {
    border: 1px solid white;
    background: black; /* Background color of the container */
    padding: 0.5rem;
    height: 10rem;
    width: 15rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: transparent; /* Make text color transparent */
    gap: 1rem;
    mix-blend-mode: screen;
    background: rgb(253, 253, 253);
    color: black;
    position: relative;
    z-index: 10;
  }
  .background {
    height: 10rem;
    width: 15rem;
    background: linear-gradient(
      45deg,
  blue,purple, orange
    );
    position: absolute;
    z-index: -2;
    background-size: 300%;
    animation: glow 25s linear infinite;
    filter: blur(20px);
  
  
  }
  @keyframes glow {
    50% {
      background-position: 600% 0;
    }
  }
  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #checkboxInput {
    display: none;
  }
  .time {
    font-size: 30px;
    font-weight: 700;
  }
  .toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 20px;
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
  }
  
  .toggleSwitch::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0px;
    background: conic-gradient(
      rgb(104, 104, 104),
      white,
      rgb(104, 104, 104),
      white,
      rgb(104, 104, 104)
    );
    border-radius: 50%;
    transition-duration: 0.3s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.308);
  }
  
  #checkboxInput:checked + .toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: 0.3s;
  }
  /* Switch background change */
  #checkboxInput:checked + .toggleSwitch {
    background-color: rgb(153, 197, 151);
    transition-duration: 0.3s;
  }